# CH 3.

## 20.

In [1]:
def bi_dec(bi):
    pos = 0
    size = 1
    sum = 0
    
    while(size * 10 <= bi):
        size *= 10
        pos+=1
    
    while(size >= 1):
        digit = int(bi / size)
        sum += digit * 2 ** pos  #2
        bi %= size
        size /= 10
        pos -= 1
        
    return sum
    
print(bi_dec(1101))

13

## 21.

In [2]:
def calc_change(price):
    change = 100 - price*100
    quarters = int(change / 25)
    change -= quarters * 25
    dimes = int(change / 10)
    change -= dimes * 10
    nickels = int(change / 5)
    change -= nickels * 5
    pennies = int(change / 1)
    change -= pennies * 1
    
    print("your change is:")
    if quarters: print(quarters, "quarters")
    if dimes: print(dimes, "dimes")
    if nickels: print(nickels, "nickels")
    if pennies: print(pennies, "pennies")
    
calc_change(.73)

your change is:
1 quarters
2 pennies

# CH 4.

## 3.

What is wrong with the following cube functionâ€™s definition?

In [4]:
def cube(x):
    """Calculate the cube of x."""
    x ** 3
    
print('the cube of 2 is', cube(2))

the cube of 2 is None

the function cube does not actually return anything so the output of cube(2) is 'None'

## 4.

What does the following mystery function do? Assume you pass the list [1, 2, 3, 4, 5] as an argument.

In [8]:
def mystery(x):
    y = 0
    for value in x:
        y += value ** 2
    return y

mystery([1,2,3,4,5])

55

this the function if given a list will parse throught the list and calculate the square of each element and add that square to the y variable. in the end the y variable is returned. if [1,2,3,4,5] was passed then 55 would be returned by the functions.

# CH 5

## 1

What, if anything, is wrong with each of the following code segments?

#a) this is trying to assign three values to only 2 available variables
day, high_temperature = ('Monday', 87, 65)

#b) list index 10 is out of bounds or range
numbers = [1, 2, 3, 4, 5]
print(numbers[10])

#c) name[0] is a string object and you cannot assign to a string object because it is immutable
name = 'amanda'
name[0] = 'A'

#d) list indices must be integers or slices, not float
numbers = [1, 2, 3, 4, 5]
numbers[3.4]

#e) 'tuple' object does not support item assignment
student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[0] = 'Ariana'

#f) you cannot add a tuple to a string
('Monday', 87, 65) + 'Tuesday'

#g) 'A' is a string litteral so you cannot assign to it
'A' += ('B', 'C')

#h) x is not defined by the time the print is called
x = 7
del x
print(x)

#i) 10 is not a value in the list 'numbers'
numbers = [1, 2, 3, 4, 5]
numbers.index(10)

#j) extend can only take one argument but was given 3
numbers = [1, 2, 3, 4, 5]
numbers.extend(6, 7, 8)

#k) 10 was not in numbers so it cannot remove it
numbers = [1, 2, 3, 4, 5]
numbers.remove(10)

#l) you cannot pop from an empty list
values = []
values.pop()

## 2

What does the following function do, based on the
sequence it receives as an argument?

In [35]:
def mystery(sequence):
    return sequence == sorted(sequence)

print(mystery([1,4,3]))

False

it will take a sequence and if the sequence is sorted it will return true, if not it will return false

## 4

In [55]:
my_list = [[0]*3]*2


count = 1
print('     0:| 1:| 2:')
for i in range(len(my_list)):
    print(i, ':', end = '  ')
    for j in range(len(my_list[0])):
        my_list[i][j] = count
        count+=1
        print(my_list[i][j], end = "   ")
    print("")

     0:| 1:| 2:
0 :  1   2   3
1 :  4   5   6

## 6

In [59]:
def rotate(x, y, z):
    return (z, x, y)

a, b, c = ('Doug', 22, 1984)
a, b, c = rotate(a,b,c)
print(a,b,c)
a, b, c = rotate(a,b,c)
print(a,b,c)
a, b, c = rotate(a,b,c)
print(a,b,c)

1984 Doug 22
22 1984 Doug
Doug 22 1984

## 9

In [ ]:
def is_palindrome(str):
    temp = str.lower()
    
    stack = []
    for i in temp:
        stack.append(i)
    
    newstr = ''
    while len(stack):
        newstr += stack.pop();
        
    return temp == newstr

is_palindrome("oYyO")

## 11

In [93]:
def summarize_letters(str):
    temp = str.lower()
    
    the_list = []
    letters_covered = []
    for i in str:
        if i not in letters_covered and i.isalpha():
            letters_covered.append(i)
            the_list.append((i, str.count(i)))
            
    return the_list

def has_az(str):
    az = 'abcdefghijklmnopqrstuvwxyz'
    for i in az:
        if not str.count(i):
            return False
        
    return True
        
yo = 'abcdefghijklmnozqrpstuvwxy'
print(summarize_letters(yo))
print(has_az(yo))

[('a', 1), ('b', 1), ('c', 1), ('d', 1), ('e', 1), ('f', 1), ('g', 1), ('h', 1), ('i', 1), ('j', 1), ('k', 1), ('l', 1), ('m', 1), ('n', 1), ('o', 1), ('z', 1), ('q', 1), ('r', 1), ('p', 1), ('s', 1), ('t', 1), ('u', 1), ('v', 1), ('w', 1), ('x', 1), ('y', 1)]
True

## 16

In [102]:
import random
rand_list = [chr(random.randint(ord('a'), ord('f'))) for i in range(20)]
print(sorted(rand_list))
print(sorted(rand_list)[::-1])
print(sorted(set(rand_list)))

['a', 'a', 'a', 'b', 'b', 'b', 'b', 'c', 'd', 'd', 'd', 'd', 'd', 'd', 'e', 'e', 'e', 'e', 'f', 'f']
['f', 'f', 'e', 'e', 'e', 'e', 'd', 'd', 'd', 'd', 'd', 'd', 'c', 'b', 'b', 'b', 'b', 'a', 'a', 'a']
['a', 'b', 'c', 'd', 'e', 'f']

## 17

Filter/Map Performance) With regard to the following code:

numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

list(map(lambda x: x ** 2, 
     filter(lambda x: x % 2 != 0, numbers)))

a) How many times does the filter operation call its lambda argument? 10 times

b) How many times does the map operation call its lambda argument? 5 times

c) If you reverse the filter and map operations, how many times does the map operation call its lambda argument? 10 times

## 19

In [105]:
names = [('indi', 'gogo'), ('cam', 'gogo'), ('goob', 'borden'), ('bf', 'borden'), ('john', 'pario')]
new = list(filter(lambda x: x[1] == 'borden', names))

new

[('goob', 'borden'), ('bf', 'borden')]

# CH 6.

## 9.

In [121]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}
print('Canada' in tlds)
print('France' in tlds)
for key, val in tlds.items():
    print(key, ':', val)
tlds['Sweden'] = 'sw'
tlds['Sweden'] = 'se'

tlds = {val: key for key, val in tlds.items()}
for key, val in tlds.items():
    print(key, ':', val)
    
tlds = {key.upper(): val for key, val in tlds.items()}
for key, val in tlds.items():
    print(key, ':', val)

True
False
Canada : ca
United States : us
Mexico : mx
ca : Canada
us : United States
mx : Mexico
se : Sweden
CA : Canada
US : United States
MX : Mexico
SE : Sweden

## 10

In [125]:
print({'red', 'green', 'blue'} != {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'} == {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'} > {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'} < {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'} >= {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'} <= {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'}.issubset({'cyan', 'green', 'blue', 'magenta', 'red'}))
print({'red', 'green', 'blue'}.issuperset({'cyan', 'green', 'blue', 'magenta', 'red'}))

True
False
False
True
False
True
True
False

In [127]:
print({'red', 'green', 'blue'} | {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'} & {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'} - {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'} ^ {'cyan', 'green', 'blue', 'magenta', 'red'})
print({'red', 'green', 'blue'}.isdisjoint({'cyan', 'green', 'blue', 'magenta', 'red'}))

{'cyan', 'red', 'blue', 'magenta', 'green'}
{'blue', 'red', 'green'}
set()
{'cyan', 'magenta'}
False

In [129]:
trans = {'car': 'coche', 'tongue': 'lengua', 'book': 'libro', 'hello': 'hola', 'stupid': 'pendejo'}
for key, val in trans.items():
    print(key, ":", val)

car : coche
tongue : lengua
book : libro
hello : hola
stupid : pendejo

In [132]:
syns = {'cool': ['epic', 'awesome', 'amazing'], 'cold': ['chilly', 'freezing', 'frosty'], 'nice': ['kind', 'polite', 'caring'],
        'fast': ['quick', 'swift', 'rapid'], 'hot': ['blazing', 'boiling', 'scorching']}
for key, val in syns.items():
    print(key)
    print('\t', val)

cool
	 ['epic', 'awesome', 'amazing']
cold
	 ['chilly', 'freezing', 'frosty']
nice
	 ['kind', 'polite', 'caring']
fast
	 ['quick', 'swift', 'rapid']
hot
	 ['blazing', 'boiling', 'scorching']